
<div class="wrapper">
    <div>
        <legend>{{title}}</legend>
    </div>
    <form [formGroup]="form" (ngSubmit)="addProductToDb()" novalidate>
<div class="form-cont">
    <div class="form-group">
        <label>
           product name
        </label>
        <input type="text" formControlName="name">
    </div>
     
    <div class="form-group">
        <label>
            category
        </label>
        <ejs-dropdownlist id='ddlelement' [dataSource]='categoryList' [fields]="cFields" (change)="onCategoryChange($event)" formControlName="category" placeholder='Select a category'></ejs-dropdownlist>

    
    </div> 

    <div class="form-group">
        <label>
          price
        </label>
        <input type="number" formControlName="price">
    </div>
    <div class="form-group">
        <label>
          Quantity
        </label>
        <input type="number" formControlName="quantity">
    </div>
    <app-shared-button-add *ngIf="mode=='add'" (add)="addProduct()"></app-shared-button-add>
</div>
        
        <div formArrayName="products" >
            <div *ngFor="let p of productArray.controls; let i=index">
                <div class="veichle-content" [formGroupName]="i" class="dynamic-items">

                            <ejs-grid  #grid  [dataSource]='data' [allowPaging]="true"   [pageSettings]='pageSettings'  (commandClick)='commandClick($event)' > 
                                <e-columns>
                                    <e-column field='name' headerText='Product Name' width=100 ></e-column>
                                    <e-column field='category.name' headerText='Category' textAlign='left'  width=90 ></e-column>
                                    <e-column field='price' headerText='Price' textAlign='left'  width=100 ></e-column>
                                    <e-column field='quantity' headerText='Quantity' textAlign='left'  width=100 ></e-column>
                                    <e-column headerText='commands' width=100 [commands]='commands' textAlign="center">
                                    </e-column>
                                </e-columns>
                            </ejs-grid>
                </div>
            </div>
        </div>
        <app-shared-button-group (cancel)="cancel()"></app-shared-button-group>
    </form>
</div>