.header{
    display:flex ;
    justify-content:space-between
}
.edit-btn {
    background-image: url('../../../assets/img/edit.svg') no-repeat;
    color:rgb(100, 153, 21);
}
.delete-btn {
    color:rgb(177, 3, 3)
}
.title{
    justify-content:center
}