.wrapper{
    margin:auto;
    font-family: sans-serif;
    display:flex-box;
}
legend{
    text-align: center;
    margin-top: 25px;

}
form{
 width: 80%;
 align-self:center;
position:absolute;

margin-left:15%;
margin-right: 20%;
margin: 10%;
}
.form-group label{
   padding-right: 20px;

}
.form-group{
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 68px;
    display: flex;
}
.form-group input{
    width: 71%;
    padding:3px;


}
#add-btn{
    margin-left: 93%;
    margin-bottom: 20px;
}
.button-group{
    margin-top: 60px;
    margin-bottom: 30px;
    padding-left:50px;
}
.button-group button {
    margin-right:30px;
}
#btn-submit{
    background-color:rgb(59, 192, 59)!important;
}
#btn-reset{
    background-color:tomato!important;
    color:white !important;
}
.dynamic-items{
    border: 1px solid rgb(221, 216, 216);
    padding-left:10px;
}
.dynamic-items input{
border: 0;
}

.e-ddl.e-input-group.e-control-wrapper .e-input {
    font-size: 15px;
    font-family: sans-serif;
    /* width: 460px; */
    
    background: #ffffff;
}
.e-ddl.e-input-group.e-control-wrapper.e-input-focus::before, .e-ddl.e-input-group.e-control-wrapper.e-input-focus::after {
    background: tomato;
}
#ddlelement{
    width: 71%;
}