.wrapper{
    margin:auto;
    font-family: sans-serif;
    display:flex-box;
}
legend{
    text-align: center;
    margin-top: 25px;

}
form{
 width: 80%;
 align-self:center;
position:absolute;

margin-left:15%;
margin-right: 20%;
margin: 10%;
}
.form-group label{
   padding-right: 20px;

}
.form-group{
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 68px;
    display: flex;
}
.form-group input{
    width: 71%;
    padding:3px;


}
.e-ddl.e-input-group.e-control-wrapper .e-input {
    font-size: 15px;
    font-family: sans-serif;
    /* width: 460px; */
    
    background: #ffffff;
}
.e-ddl.e-input-group.e-control-wrapper.e-input-focus::before, .e-ddl.e-input-group.e-control-wrapper.e-input-focus::after {
    background: tomato;
}
#ddlelement{
    width: 71%;
}