
<div class="wrapper">
    <div>
        <legend>Edit Product</legend>
    </div>
    <form [formGroup]="form" (ngSubmit)="editProduct()" novalidate>
<div class="form-cont">
    <div class="form-group">
        <label>
            product name
        </label>
        <input type="text" formControlName="name" >
    </div>

    <div class="form-group"> 
        <label>
            category
        </label>
        <!-- <ejs-dropdownlist id='ddlelement' [dataSource]='categoryList' [(value)]='selectedCategory' formControlName="category" placeholder='Select a category'></ejs-dropdownlist> -->
        <ejs-dropdownlist id='ddlelement' [dataSource]='categoryList' [fields]="cFields" (change)="onCategoryChange($event)" formControlName="category" placeholder='Select a category'></ejs-dropdownlist>

    </div>

    <div class="form-group">
        <label>
            price
        </label>
        <input type="number" formControlName="price" >
    </div>

    <div class="form-group">
        <label>
          Quantity
        </label>
        <input type="number" formControlName="quantity">
    </div>
</div>
<app-shared-button-group (cancel)="cancel()"></app-shared-button-group>
    </form>
</div>