
<div class="wrapper">
    <div>
        <legend>Edit veichle</legend>
    </div>
    <form [formGroup]="form" (ngSubmit)="editViechle()" novalidate>
<div class="form-cont">
    <div class="form-group">
        <label>
            Licence plate number
        </label>
        <input type="text" formControlName="licenceNum" >
    </div>

    <div class="form-group"> 
        <label>
            Viechle model
        </label>
        <input type="text" formControlName="model" >
    </div>

    <div class="form-group">
        <label>
            Viechle type
        </label>
        <input type="text" formControlName="type" >
    </div>
</div>
        <div class="button-group">
              <button  id="btn-submit"
               class="btn" type="submit">Edit</button>
              <button id="btn-reset" class="btn" type="button" (click)="cancel()">cancel</button>
        </div>
    </form>
</div>