<div class="wrapper">
    <div>
        <legend>{{title}}</legend>
    </div>
    <form [formGroup]="form" (ngSubmit)="addViechlesToDb()" novalidate>
<div class="form-cont">
    <div class="form-group">
        <label>
            Licence plate 
        </label>
        <input type="text" formControlName="licenceNum">
    </div>
     
    <div class="form-group">
        <label>
            Viechle model
        </label>
        <input type="text" formControlName="model">
    </div>

    <div class="form-group">
        <label>
            Viechle type
        </label>
        <input type="text" formControlName="type">
    </div>
   <app-shared-button-add *ngIf="mode=='add'" (add)="addViechle()"></app-shared-button-add>
</div>

        <div formArrayName="viechles" >
            <div *ngFor="let v of viechleArray.controls; let i=index">
                <div class="veichle-content" [formGroupName]="i" class="dynamic-items">
                            <ejs-grid  #grid  [dataSource]='data' [allowPaging]="true"   [pageSettings]='pageSettings'  (commandClick)='commandClick($event)' > 
                                <e-columns>
                                    <e-column field='model' headerText='Model' width=100 ></e-column>
                                    <e-column field='type' headerText='Type' textAlign='left'  width=90 ></e-column>
                                    <e-column field='licenceNum' headerText='Licence plate' textAlign='left'  width=100 ></e-column>
                                    <e-column headerText='commands' width=100 [commands]='commands' textAlign="center">
                                    </e-column>
                                </e-columns>
                            </ejs-grid>
                </div>
            </div>
        </div>
   
        <!-- <div class="button-group">
              <button  id="btn-submit"
               class="btn" type="submit">submit</button>
              <button id="btn-reset" class="btn" type="button" (click)="cancel()">cancel</button>
        </div> -->
        <app-shared-button-group (cancel)="cancel()"></app-shared-button-group>
    </form>
</div>