
.wrapper{
    width:100%;
    height:100%;
 padding-top:5%;
 font-family:sans-serif;

}
.login-cont{
    position:relative;

    margin:auto;
    background-color:white;
    width:40%;
    display: flex;
    padding-bottom: 60px ;
    margin-left: 45%;
    padding-top:50px;
    /* justify-self: center; */
    justify-content:center;
    align-items: center;
    /* align-self: center; */
    box-shadow: 2;
    text-align: center;
    border:1px solid #e3dbe7;
}
.form-group{
   display: block;
   min-width:100%;
   /* align-items: center; */
}
.form-input{
    width: 100%;;
    display: flex;
    margin-bottom: 10;
 

}
.form-input input{
    border:0;
    width:100%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /* border-bottom: 0.5px solid rgb(231, 231, 231); */

}
.form-input input:focus{
    outline: none !important;
    box-decoration-break: slice;
}
.form-button{
    margin-top: 20px;
}
.form-button button{
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 10px;
   width: 100px;
    color:white;
    border-radius: 10px;
    background-color:tomato;
}
.form-title{
    padding: top 80px;
}
.toggle a {
    color:rgb(180, 80, 62)
}
.toggle a:hover{
    cursor: pointer;
    opacity:0.8;
}