.wrapper{
    margin:auto;
    font-family: sans-serif;
    display:flex-box;
}
legend{
    text-align: center;
    margin-top: 25px;

}
form{
 width: 80%;
 align-self:center;
position:absolute;

margin-left:15%;
margin-right: 20%;
margin: 10%;
}
.form-group label{
   padding-right: 20px;

}
.form-group{
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 68px;
    display: flex;
}
.form-group input{
    width: 71%;
    padding:3px;


}
.dynamic-items{
    border: 1px solid rgb(221, 216, 216);
    padding-left:10px;
}
.dynamic-items input{
border: 0;
}