
<div class="wrapper">
    <div>
        <legend>Add new categories</legend>
    </div>
    <form [formGroup]="form" (ngSubmit)="addCategoryToDb()" novalidate>
<div class="form-cont">
    <div class="form-group">
        <label>
           Category Name
        </label>
        <input type="text" formControlName="name">
    </div>
    <app-shared-button-add (add)="addCategory()"></app-shared-button-add>
</div>
        
        <div formArrayName="categories" >
            <div *ngFor="let c of categoryArray.controls; let i=index">
                <div class="category-content" [formGroupName]="i" class="dynamic-items">

                 <input type="text" [ngModel] formControlName="name">
                  <button class="btn" (click)="removeCategory(i)"><img
                            src="../../../assets/img/icons8-close-window-35.png" alt=""></button>
                </div>
            </div>
        </div>
        <app-shared-button-group (cancel)="cancel()"></app-shared-button-group>
    </form>
</div>